* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    width: 100%;
    height: 100%;

}

.logprocess {
    width: 100%;
    height: 80%;
    padding: 30px;
    box-sizing: border-box;
}

.part1,
.part2 {
    width: 100%;
    height: 40%;
}

.part1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.part2,
.local,
.remote {
    background-color: rgb(240, 242, 245);
    border-radius: 8px;
}


.local,
.remote {
    width: 50%;
    height: 100%;
}

.part2 {
    border-radius: 4px;
}

.item {
    width: 100%;
    height: 25%;
}


.default-btn {
    color: white;
    background-color: rgb(223, 226, 228);
    border: none;
}

.default-btn:hover {
    border: 2px rgb(40, 39, 39) solid;
    background-color: rgb(161, 164, 165);
}

.active-btn {
    background-color: rgb(44, 62, 80);
    border: 2px rgb(22, 31, 40) solid;
}

.active-btn:hover {
    background-color: rgb(71, 100, 130);

}

.local-item-btn {
    display: flex;
    justify-content: right;

}

.local-item-btn button {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.remote-item-btn {
    display: flex;
    justify-content: left;
}

.remote-item-btn button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.local-item-input {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.local-item-input input {
    width: 50%;
    height: 40%;
}

.remote {
    font-size: large;
    color: rgb(218, 218, 214);
}

.remote-item-input
{
    display: flex;
    justify-content: left;
    align-items: center;
}
.remote-item-input input {
    font-size: large;
    opacity: 0.5;
    border: 1px rgb(220, 223, 230) solid;
    margin-left: 12px;
    height: 60%;
}

.part2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.part2 button {
    width: 100px;
    height: 50px;
    border-radius: 4px;
}

.part2 .btn-able {

    background-color: rgb(44, 62, 80);
    color: white;
}

.part2 .btn-able:hover {
    background-color: rgb(92, 130, 168);
    border: 1px black solid;
    font-size: large;
}

.part2 .btn-disa {
    background-color: rgb(161, 164, 165);
}